@{
   ViewData["Title"] = "Index";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<!---Js Files--->
<script src="~/commonui/js/configuration/teststandardwiseprice.js?v=@DateTime.Now.ToString("yymmddHHmmss")"></script>
<!-- Page header -->
<div class="page-header d-print-none headerPaddingRemove">
   <div class="container-xl">
      <div class="row g-2 align-items-center">
         <div class="col">
            <h2 class="page-title">
               Test Standard Wise Price Information
            </h2>
         </div>
         <!-- Page title actions -->
         <div class="col-auto ms-auto d-print-none">
            <div class="btn-list">

               <a href="#" data-toggle="modal" onclick="AddNew()" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
                  <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                    Create New TestStandard Wise Price
               </a>

            </div>
         </div>
      </div>
   </div>
</div>

<!-- Page body -->
<div class="page-body pageBodyPaddingRemove">
   <div class="container-xl">
      <div id="gridTable"></div>
   </div>
</div>

<!-- Modal -->
<div class="modal fade" id="mdlUserReg" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Create New TestStandard Wise Price</h5> <span id="spanParentID" style="display:none">0</span>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <div class="row" style="justify-content: center;">
               <div class="col-md-6">
                  <label class="form-label required">Test Standard</label> <input id="cmbTestStandard" class="form-control comboBox" style="width:100%; height:37px" required />
               </div>
               <div class="col-md-6">
                  <label class="form-label required">Currency</label> <input id="cmbCurrency" class="form-control comboBox" style="width:100%; height:37px" required />
               </div>
            </div>
            <div class="row g-3 mt-0" style="justify-content: center;">
               <div class="col-md-6">
                  <label class="form-label required">Regular Delivery Days</label> <input type="number" id="RegularDeliveryDays" class="form-control" style="width:100%"  min="0"   step="1" required />
               </div>
               <div class="col-md-6">
                  <label class="form-label required">Express Delivery Days</label> <input type="number" id="ExpressDeliveryDays" class="form-control comboBox" style="width:100%"  min="0"  step="1" required />
               </div>
            </div>
            <div class="row g-3 mt-0" style="justify-content: center;">
               <div class="col-md-6">
                  <label class="form-label required">Regular Price</label> <input type="number" id="RegularPrice" class="form-control" style="width:100%"  min="0"  step="1" required />
               </div>
               <div class="col-md-6">
                  <label class="form-label required">Express Price</label> <input type="number" id="ExpressPrice" class="form-control comboBox" style="width:100%"  min="0" step="1" required />
               </div>
            </div>
            <div class="row g-3 mt-0" style="justify-content: center;">
               <div class="col-md-6">
                  <label class="form-label required">Effective Date From</label> <input type="date" id="EffectiveDateFrom" class="form-control comboBox Kdatepicker" placeholder="MM/DD/YYYY" style="width:100%" required />
               </div>
               <div class="col-md-6">
                  <label class="form-label">Effective Date To</label> <input type="date" id="EffectiveDateTo" class="form-control comboBox Kdatepicker" placeholder="MM/DD/YYYY" style="width:100%" />
               </div>
            </div>
            <div class="row g-3 mt-0" style="justify-content: left;">
               <div class="col-md-6" style="margin-top:42px;">
                  <label class="form-label"></label>
                  <label class="form-check form-check-inline" style="position:absolute;bottom:26px;">
                     <input class="form-check-input" type="checkbox" id="isActive" checked>
                     <span class="form-check-label">Active</span>
                  </label>
               </div>
            </div>
         </div>
         <div class="modal-footer">
            <button type="button" id="btnSave" class="btn btn-ghost-primary active w-10" onclick="Save()">Save</button>
         </div>
      </div>
   </div>
</div>



